/*I am not an artisticly inclined person and while not very colorfull or animated it serves it's purpose and is useable*/
:root{
    --size1: 1.25rem;
    --size2: 1.5rem;
    --size3: 2rem;
    --padding-size: 1rem;
    --correct: #008000;
    --incorrect: #808080;
    --misplaced: #FFA500;
}

h1 {
    text-align: center;
    font-size: var(--size3);
}

h2 {
    text-align: center;
    font-size: var(--size2);
}

#status {
    text-align: center;
    font-size: var(--size1);
    padding: var(--padding-size);
}

#gameboard {
    display: flex;
    align-items: center;
    flex-direction: column;
}

p{
    text-align: center;
    font-size: var(--size1);
}

button{
    font-size: var(--size2);
}

.buttonwrap{
    display: flex;
    justify-content: center;
    padding: var(--padding-size);
}

.letterbox {
    border: 2px solid #808080;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.filledbox {
    border: 2px solid #000000;
}

.letterrow {
    display: flex;
}

.correct {
    background-color: var(--correct);
}

.misplaced {
    background-color: var(--misplaced);
}

.incorrect {
    background-color: var(--incorrect);
}