:root {
    --max-width: 1280px;
    --max-height: 900px;
    --primary-color: #90D5FF;
    --secondary-color: #808080;
    --tertiary-color: #D3D3D3;
    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 2rem;
    --border: 2px solid;

}

header {
    background-color: var(--primary-color);
    border: var(--border) var(--secondary-color);
    text-align: center;
    width: auto;
    padding: var(--space-3);
}

p { 
    font-size: 1.5rem; 

}

h1 { 
    font-size: 2.5rem; 
}

h2 { 
    font-size: 2rem; 
}

h3 {
    font-size: 1.75rem;
}

nav {
    text-align: center;
	font-weight: bold;
    font-size: 1.5rem;
    padding: var(--space-2);
    width: auto;
    border: var(--border) var(--secondary-color);
}

a {
    padding: var(--space-1);
    text-decoration: none;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

footer {
    background-color: var(--primary-color);
    border: var(--border) var(--secondary-color);
    text-align: center;
    font-style: italic;
    padding: var(--space-2);
    width: auto;
}

label {
    font-size: 2rem;
    font-weight: bold;
}

div {
    font-size: 1.5rem;
}

input {
    font-size: 1.5rem;
}

select {
    font-size: 1.25rem;
    padding: var(--space-2);
}

option {
    font-size: 1.25rem;
}

fieldset {
    border: var(--border) var(--tertiary-color);
    margin: auto;
}

textarea {
    font-size: 1.5rem;
    border: var(--border) var(--tertiary-color);
}

.embed {
    width: 100%;
    text-align: center;
    padding: var(--space-2);
    margin: 0;
}

.embed iframe {
    width: auto;
    height: auto;
    max-width: var(--max-width);
    max-height: var(--max-width);
    border: 0;
}

.center{
    text-align: center;
}

.fontsize {
    font-size: 1.5rem;
}

.img{
    text-align: center;
    padding-top: 1em;
}

.form {
    text-align: center;
    padding: 1em;
}