:root {
    --header-size: 2em;
    --body-size: 1.5em;
    --body-size2: 1.2rem;
    --button-color: #007bff;
    --button-hover-color: #0056b3;
    --buton-text-color: #ffffff;
    --space: 2px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

footer {
    text-align: center;
}

.nav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem;
}

.nav .links {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    font-size: var(--header-size);
    
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 var(--space);
}

#flaghero {
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: url(heroflag.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
}

@media (min-width: 64rem) {
    #flaghero {
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: url(heroflag.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
    }
}

.bottom-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.overlay-text {
    color: var(--buton-text-color);
    font-size: var(--header-size);
    font-weight: bold;
}

.register-button-container {
  margin-left: 20px;
}

.register-button {
    padding: 10px;
    background-color: var(--button-color);
    color: var(--buton-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.register-button:hover {
    background-color: var(--button-hover-color);
}

.grid-container {
    margin: 50px auto;
    width: min(1100px, 95%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

@media (max-width: 48rem) {
    .grid-container {
    margin: 50px auto;
    width: min(1100px, 95%);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}
}

.grid-container .card  {
    padding: 2em;
    border-radius: .5em;
    border: solid black;
    text-align: center;
    font-size: var(--body-size2);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.grid-container button{
    background-color: var(--button-color);
    color: var(--buton-text-color);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.grid-container button:hover{
    background-color: var(--button-hover-color);
}

.grid-container .p {
    flex-grow: 1fr;
    font-size: var(--body-size2);
}

.table-container {
    display: flex;
    flex-direction: column;
    border-radius: .5em;
    border: solid black;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 1rem;
    
}

.table-container h2 {
    border-radius: .5em;
    padding: 5px;
    font-size: var(--header-size);
    text-align: center;
}

.table-container table {
    width: 100%;
}

.table-container td {
    border-radius: .5em;
    border: solid black;
    text-align: center;
    font-size: var(--body-size);
    flex-grow: 1fr;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    border-radius: .5em;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto;
    padding: 1rem;
}

.accordion {
    background-color: var(--button-color);
    color: var(--buton-text-color);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    justify-content: center;
    border: none;
    outline: none;
    transition: 0.4s;

}

.active, .accordion:hover {
    background-color: var(--button-hover-color);
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}